<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsBedInfoMapper">
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.ZsBedInfo">
    <id column="bed_id" jdbcType="INTEGER" property="bedId" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    bed_id, room_id, `name`, create_time, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zs_bed_info
    where bed_id = #{bedId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zs_bed_info
    where bed_id = #{bedId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjjk.monitor.entity.ZsBedInfo">
    insert into zs_bed_info (bed_id, room_id, `name`, 
      create_time, `status`)
    values (#{bedId,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yjjk.monitor.entity.ZsBedInfo">
    insert into zs_bed_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bedId != null">
        bed_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bedId != null">
        #{bedId,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjjk.monitor.entity.ZsBedInfo">
    update zs_bed_info
    <set>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where bed_id = #{bedId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjjk.monitor.entity.ZsBedInfo">
    update zs_bed_info
    set room_id = #{roomId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where bed_id = #{bedId,jdbcType=INTEGER}
  </update>
</mapper>