<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsDepartmentInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.ZsDepartmentInfo">
        <id column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName"/>
        <collection property="rooms" ofType="com.yjjk.monitor.entity.ZsRoomInfo" javaType="ArrayList">
            <id column="room_id" jdbcType="INTEGER" property="roomId"/>
            <result column="room_department_id" jdbcType="INTEGER" property="departmentId"/>
            <result column="room_name" jdbcType="VARCHAR" property="name"/>
            <result column="room_create_time" jdbcType="VARCHAR" property="createTime"/>
            <result column="room_status" jdbcType="INTEGER" property="status"/>
            <collection property="beds" ofType="com.yjjk.monitor.entity.ZsBedInfo" javaType="ArrayList">
                <id column="bed_id" jdbcType="INTEGER" property="bedId"/>
                <result column="bed_room_id" jdbcType="INTEGER" property="roomId"/>
                <result column="bed_name" jdbcType="VARCHAR" property="name"/>
                <result column="bed_create_time" jdbcType="VARCHAR" property="createTime"/>
                <result column="bed_status" jdbcType="INTEGER" property="status"/>
            </collection>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    department_id, `name`, create_time, `status`
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zs_department_info
        where department_id = #{departmentId,jdbcType=INTEGER}
    </select>

    <select id="selectDetail" parameterType="com.yjjk.monitor.entity.ZsDepartmentInfo" resultMap="BaseResultMap">
        select
        zdi.department_id, zdi.name, zdi.create_time, zdi.status,
        zri.room_id , zri.department_id as room_department_id, zri.name as room_name, zri.create_time as room_create_time, zri.status as room_status,
        zbi.bed_id as bed_id, zbi.room_id as bed_room_id, zbi.name as bed_name, zbi.create_time as bed_create_time, zbi.status as bed_status, zhi.hospital_name
        from zs_department_info zdi
        left join zs_room_info zri on zdi.department_id = zri.department_id
        left join zs_bed_info zbi on zri.room_id = zbi.room_id
        join zs_hospital_info zhi
        <where>
            zdi.status = 0 and zri.status = 0 and zbi.status = 0
            <if test="departmentId != null">
                and zdi.department_id = #{departmentId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zs_department_info
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yjjk.monitor.entity.ZsDepartmentInfo">
    insert into zs_department_info (department_id, `name`, create_time, 
      `status`)
    values (#{departmentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.yjjk.monitor.entity.ZsDepartmentInfo">
        insert into zs_department_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjjk.monitor.entity.ZsDepartmentInfo">
        update zs_department_info
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where department_id = #{departmentId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjjk.monitor.entity.ZsDepartmentInfo">
    update zs_department_info
    set `name` = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
</mapper>