<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsLoginStateMapper">
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.ZsLoginState">
    <id column="token" jdbcType="VARCHAR" property="token" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="login_out" jdbcType="VARCHAR" property="loginOut" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    token, ip, manager_id, login_out, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zs_login_state
    where token = #{token,jdbcType=VARCHAR}
  </select>
  <select id="selectByManagerId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zs_login_state
    where manager_id = #{managerId,jdbcType=INTEGER} and status = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zs_login_state
    where token = #{token,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yjjk.monitor.entity.ZsLoginState">
    insert into zs_login_state (token, ip, manager_id, 
      login_out, `status`)
    values (#{token,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, 
      #{loginOut,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yjjk.monitor.entity.ZsLoginState">
    insert into zs_login_state
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="token != null">
        token,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="loginOut != null">
        login_out,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="loginOut != null">
        #{loginOut,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjjk.monitor.entity.ZsLoginState">
    update zs_login_state
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="loginOut != null">
        login_out = #{loginOut,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where token = #{token,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjjk.monitor.entity.ZsLoginState">
    update zs_login_state
    set ip = #{ip,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=INTEGER},
      login_out = #{loginOut,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where token = #{token,jdbcType=VARCHAR}
  </update>
</mapper>