<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsRepeaterInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.ZsRepeaterInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="MAC" jdbcType="VARCHAR" property="mac"/>
        <result column="IP" jdbcType="VARCHAR" property="ip"/>
        <result column="linkStatus" jdbcType="INTEGER" property="linkstatus"/>
        <result column="machine_type_id" jdbcType="INTEGER" property="machineTypeId"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="room_id" jdbcType="INTEGER" property="roomId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="fail_count" jdbcType="INTEGER" property="failCount"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, MAC, IP, linkStatus, machine_type_id, department_id, room_id, remark, `status`, 
    create_time, fail_count
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zs_repeater_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectRepeaters" parameterType="com.yjjk.monitor.entity.ZsRepeaterInfo" resultType="com.yjjk.monitor.entity.ZsRepeaterInfo">
        SELECT
        zri.id AS id,zri.MAC AS mac,zri.IP AS ip,zri.linkstatus AS linkstatus,zri.remark AS remark,zmti.`name` AS
        repeaterNum,zmti2.`name` AS repeaterName,zdi.`name` AS departmentName, zri2.`name` AS roomName
        FROM zs_repeater_info zri
        LEFT JOIN zs_machine_type_info zmti ON zri.`machine_type_id` = zmti.`id`
        LEFT JOIN zs_machine_type_info zmti2 ON zmti.`parent_id` = zmti2.`id`
        LEFT JOIN zs_department_info zdi ON zri.`department_id` = zdi.`department_id`
        LEFT JOIN zs_room_info zri2 ON zri2.`room_id` = zri.`room_id`
        <where>
            zri.status = 0
            <if test="id != null">
                and zri.id = #{id, jdbcType=INTEGER}
            </if>
            <if test="departmentId != null">
                and zri.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
        </where>
        <if test="startLine != null and pageSize != null">
            limit #{startLine},#{pageSize}
        </if>
    </select>

    <select id="selectRepeaterCount" resultType="java.lang.Integer">
        select
        count(1)
        from zs_repeater_info
        <where>
            status = 0
            <if test="id != null">
                and id = #{id, jdbcType=INTEGER}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId, jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zs_repeater_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yjjk.monitor.entity.ZsRepeaterInfo">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into zs_repeater_info (id, MAC, IP,
        linkStatus, machine_type_id, department_id,
        room_id, remark, `status`,
        create_time, fail_count)
        values (#{id,jdbcType=INTEGER}, #{mac,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
        #{linkstatus,jdbcType=INTEGER}, #{machineTypeId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER},
        #{roomId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{failCount,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.yjjk.monitor.entity.ZsRepeaterInfo">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into zs_repeater_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="mac != null">
                MAC,
            </if>
            <if test="ip != null">
                IP,
            </if>
            <if test="linkstatus != null">
                linkStatus,
            </if>
            <if test="machineTypeId != null">
                machine_type_id,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="roomId != null">
                room_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="failCount != null">
                fail_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=INTEGER},
            <if test="mac != null">
                #{mac,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="linkstatus != null">
                #{linkstatus,jdbcType=INTEGER},
            </if>
            <if test="machineTypeId != null">
                #{machineTypeId,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="failCount != null">
                #{failCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjjk.monitor.entity.ZsRepeaterInfo">
        update zs_repeater_info
        <set>
            <if test="mac != null">
                MAC = #{mac,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="linkstatus != null">
                linkStatus = #{linkstatus,jdbcType=INTEGER},
            </if>
            <if test="machineTypeId != null">
                machine_type_id = #{machineTypeId,jdbcType=INTEGER},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="roomId != null">
                room_id = #{roomId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="failCount != null">
                fail_count = #{failCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjjk.monitor.entity.ZsRepeaterInfo">
    update zs_repeater_info
    set MAC = #{mac,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      linkStatus = #{linkstatus,jdbcType=INTEGER},
      machine_type_id = #{machineTypeId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      fail_count = #{failCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>