<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsTemperatureBoundMapper">
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.ZsTemperatureBound">
    <id column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="low_temperature" jdbcType="DECIMAL" property="lowTemperature" />
    <result column="normal_temperature" jdbcType="DECIMAL" property="normalTemperature" />
    <result column="high_temperature" jdbcType="DECIMAL" property="highTemperature" />
    <result column="temperature_alert" jdbcType="INTEGER" property="temperatureAlert" />
    <result column="low_alert" jdbcType="DECIMAL" property="lowAlert" />
    <result column="high_alert" jdbcType="DECIMAL" property="highAlert" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="change_time" jdbcType="VARCHAR" property="changeTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    department_id, low_temperature, normal_temperature, high_temperature, temperature_alert, 
    low_alert, high_alert, manager_id, change_time, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zs_temperature_bound
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zs_temperature_bound
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yjjk.monitor.entity.ZsTemperatureBound">
    insert into zs_temperature_bound (department_id, low_temperature, normal_temperature, 
      high_temperature, temperature_alert, low_alert, 
      high_alert, manager_id, change_time, 
      `status`)
    values (#{departmentId,jdbcType=INTEGER}, #{lowTemperature,jdbcType=DECIMAL}, #{normalTemperature,jdbcType=DECIMAL}, 
      #{highTemperature,jdbcType=DECIMAL}, #{temperatureAlert,jdbcType=INTEGER}, #{lowAlert,jdbcType=DECIMAL}, 
      #{highAlert,jdbcType=DECIMAL}, #{managerId,jdbcType=INTEGER}, #{changeTime,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yjjk.monitor.entity.ZsTemperatureBound">
    insert into zs_temperature_bound
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="lowTemperature != null">
        low_temperature,
      </if>
      <if test="normalTemperature != null">
        normal_temperature,
      </if>
      <if test="highTemperature != null">
        high_temperature,
      </if>
      <if test="temperatureAlert != null">
        temperature_alert,
      </if>
      <if test="lowAlert != null">
        low_alert,
      </if>
      <if test="highAlert != null">
        high_alert,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="lowTemperature != null">
        #{lowTemperature,jdbcType=DECIMAL},
      </if>
      <if test="normalTemperature != null">
        #{normalTemperature,jdbcType=DECIMAL},
      </if>
      <if test="highTemperature != null">
        #{highTemperature,jdbcType=DECIMAL},
      </if>
      <if test="temperatureAlert != null">
        #{temperatureAlert,jdbcType=INTEGER},
      </if>
      <if test="lowAlert != null">
        #{lowAlert,jdbcType=DECIMAL},
      </if>
      <if test="highAlert != null">
        #{highAlert,jdbcType=DECIMAL},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjjk.monitor.entity.ZsTemperatureBound">
    update zs_temperature_bound
    <set>
      <if test="lowTemperature != null">
        low_temperature = #{lowTemperature,jdbcType=DECIMAL},
      </if>
      <if test="normalTemperature != null">
        normal_temperature = #{normalTemperature,jdbcType=DECIMAL},
      </if>
      <if test="highTemperature != null">
        high_temperature = #{highTemperature,jdbcType=DECIMAL},
      </if>
      <if test="temperatureAlert != null">
        temperature_alert = #{temperatureAlert,jdbcType=INTEGER},
      </if>
      <if test="lowAlert != null">
        low_alert = #{lowAlert,jdbcType=DECIMAL},
      </if>
      <if test="highAlert != null">
        high_alert = #{highAlert,jdbcType=DECIMAL},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjjk.monitor.entity.ZsTemperatureBound">
    update zs_temperature_bound
    set low_temperature = #{lowTemperature,jdbcType=DECIMAL},
      normal_temperature = #{normalTemperature,jdbcType=DECIMAL},
      high_temperature = #{highTemperature,jdbcType=DECIMAL},
      temperature_alert = #{temperatureAlert,jdbcType=INTEGER},
      low_alert = #{lowAlert,jdbcType=DECIMAL},
      high_alert = #{highAlert,jdbcType=DECIMAL},
      manager_id = #{managerId,jdbcType=INTEGER},
      change_time = #{changeTime,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
</mapper>